<h1> Create a Blog Post </h1>
<!-- create a new form, call is something in particular, post is the html method name (could use put/patch to update) -->
<!-- The action attribute tells the app where to go -->
<form name="new-post" action="create" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title"/>

  <label for="author">Author:</label>
  <input type="text" name="author" id="author"/>

  <label for="body">Body:</label>
  <textarea name="body" id="body" rows="8" col="40"></textarea>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)%>

  <button type="submit">Submit</button>
</form>
